	
form {

	table  {
        width:100%;
		
		tr {
			height: 0;
			transition: height 2s;
			td { padding-bottom: 10px;	}
			td:first-child{	
				width: 100px;
				@media screen and  (max-width : 540px) {
					& {
						width: 10px;
						white-space:nowrap;
						text-align:left;
					}
				}    

			}
		}	
    }
			
			
			
			
	
			
	.control-label {
	    text-align: right;
        width: 100%;
        padding-top: 0px!important;
	    margin-bottom: 0px!important;
		padding-top: 0!important;
		padding-right: 20px;
	
	
		@media screen and  (max-width : 540px) {
			& {
				padding-right: 15px; 
			}
		}    		
						
		
		&.required:after {
			content: "*";
			display: inline;
			color: red;
			position: absolute;
			margin-left: 5px;
		}		
	}
		
			

	
	.form-group {
		margin-bottom: 0!important;
		width:100%;
	}
		

		
	[name=my-fName]{
		max-width: 300px;
	}
	
	[name=my-lName]{
		max-width: 300px;
	}
	
	[name=my-quantity], [name=my-amount]{
		max-width: 100px;
	}
	
	[name=my-phone]{
		max-width: 200px;
	}
	
	[name=my-address]{
		max-width: 500px;
	}
	
	
	
	[name=my-deliver]{
		max-width: 100px;
	}	
		
	[name=my-time]{
		max-width: 150px;
	}	
			
	
	
	input[type=checkbox] {
		height: 20px;
		width: 20px;
		xxopacity:0;
	}

	
	textarea{
		resize: none;
        height: 70px!important;
		text-overflow: ellipsis;
		resize: none;
	}	




	.popover{
		font-weight: 700;
		white-space:nowrap;
	}	
	
	
	.header {
		position:relative;
		text-align:center;
		
		
		xxborder-bottom: solid #878787 1px;
		
		hr {
			background: black;
			display: inline-block;
			width: calc(50% - 55px);
			margin: 0;
			border-bottom: solid black 1px;
		}
		
		
		span {
			position: relative;
			bottom: -4px;
			width: 110px;
			padding: 0px 4px;
			display: inline-block;	
		}
	}
	
	
}
	

	
	
	
	
	
	
	
	